<%= @user.errors.full_messages %>

<%= form_for(@user) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>    

    <div>
        <%= f.label :age %>
        <%= f.text_field :age %>
    </div>    
    <%= f.submit %>
<% end %>