<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= link_to 'new', new_user_path %>

<table border="1">
    <% @users.each do |user| %>
        <tr id="user_<%= user.id %>">
            <td><%= user.name %></td>
            <td><%= user.age %></td>
            <td><%= user.bio %></td>
            <td><%= localize user.created_at, format: :short %></td>
        </tr>
        <td>
            <%= link_to 'show', user %>
            <%= link_to 'edit', edit_user_path(user) %>
            <%= link_to 'destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?', remote: true } %>
        </td>
    <% end %>    
</table>