<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Weight</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='users_tbody'>
    <% @users.each do |user| %>
      <%= sync partial: 'user', resource: user %>
    <% end %>
    <%= sync_new partial: 'user', resource: User.new %> 
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<!--<script>
  $(document).ready(function() {
    function load_users(){
      setTimeout(function(){
        users_poll('#users_tbody', "<%= users_path %>");
        load_users();
      }, 3000);
    }
    load_users();
  });
</script>-->
