<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>        
        <td><%= contact.birthday %></td>
        <td><%= link_to 'Show', user_contact_path(@user, contact) %></td>
        <td><%= link_to 'Edit', edit_user_contact_path(@user, contact) %></td>
        <td><%= link_to 'Destroy', user_contact_path(@user, contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_user_contact_path %>
